/* Style for marquee section */
.marquee_dynamic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .marquee_dynamic-text {
    white-space: nowrap;
    font-weight: 100;
    line-height: 1;
  }
  
  @keyframes marqueeScroll {
    to {
      transform: translateX(-100%);
    }
  }
  
  .marquee_container {
    --marquee-play-state: running;
    overflow: hidden;
  }
  
  .marquee_container .marquee_elements-container {
    animation: marqueeScroll 15s linear infinite;
    will-change: transform;
    animation-play-state: var(--marquee-play-state, running);
    transition: animation-play-state 1s ease;
  }
  
  .marquee_container:hover {
    --marquee-play-state: paused;
  }
  